
@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
.borderradius #content {
	border: 1px solid #141414;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

</style>
<h2>@ViewBag.Message</h2>


<p id="content">
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>
